* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 330px;
    background-color: blueviolet;
}

.container {
    width: 700px;
    background-color: thistle;
    margin: 0 auto;
    margin-top: 10px;
}

.card {
    width: 220px;
    height: 400px;
    background-color: aquamarine;
    position: relative;
    display: inline-block;
}

.card-center {
    margin-left: 10px;
    margin-right: 10px;
}

.heart {
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    right: 0;
    top: 20px;
}

.special {
    width: 60px;
    height: 20px;
    background-color: saddlebrown;
    position: absolute;
    left: 50px;
    bottom: 80px;
}

.sale {
    width: 40px;
    height: 30px;
    background-color: violet;
    position: absolute;
    bottom: 80px;
}

