* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 100%;
    height: 500px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
}

.card {
    width: 320px;
    height: 600px;
    position: relative;
    display: inline-block;
    text-align: left;
}

.img-card {
    width: 100%;
    height: 500px;
}

.card-center {
    margin-left: 10px;
    margin-right: 10px;
}

.heart {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 15px;
    font-size: 23px;
    text-align: center;
    line-height: 40px;

}

.sale {
    background-color: rgb(221, 19, 53);
    position: absolute;
    bottom: 110px;
}

.special {
    background-color: rgb(19, 134, 77);
    position: absolute;
    left: 40px;
    bottom: 110px;
}

.font {
    font-size: 12px;
    color: white;
    padding: 3px 5px;
}

.label {
    padding-top: 5px;
}

.label, .price, .old-price {
    font-size: 15px;
}

.type {
    font-size: 18px;
    font-weight: bold;
}

.price {
    color: rgb(221, 19, 53);
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}

.shown {
    display: inline;
}

.hidden {
    display: none;
}

.img-card:hover .shown {
    display: none;
}

.img-card:hover .hidden {
    display: inline;
}

#no-sale {
    position: absolute;
    left: 0;
    bottom: 110px;
}